.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.logo {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin-right: 20px;
}

.logo-text {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 	/* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

label.form-check-label {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.bd-callout {
	padding: 1.25rem;
	/* margin-top: 1.25rem; */
	margin-bottom: 1.25rem;
	border: 1px solid #e9ecef;
	border-left-width: .25rem;
	border-radius: .25rem;
	background-color: #ffffff;
}
.bd-callout-info {
	border-left-color: #5bc0de !important;
}

.bd-callout-warning {
	border-left-color: #f0ad4e
}

.bd-callout-danger {
	border-left-color: #d9534f
}

.otter-bg-danger {
	background-color: hsl(2deg 100% 92%);
}